body {
    background-image: url('/static/images/tajmahal.jpg');  /* Path to your image in the static folder */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
}


.hero {
    background-image: url('tajmahal1.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7)
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.btn-primary, .btn-success {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 30px;
}

#services {
    margin: 50px 0;
    text-align: center;
}

#services h4 {
    margin-bottom: 30px;
    font-size: 3rem;
    color:white;
}

.services-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    width: 30%;
    margin-bottom: 20px;
}

.service-item img {
    max-width: 100%;
    border-radius: 10px;
}

.service-item h3 {
    font-size: 24px;
    margin-top: 15px;
}

.service-item p {
    font-size: 16px;
    margin-top: 10px;
}
